<div class="card address-card shadow-sm mt-3">
  <div class="card-body">

    <h5 class="card-title text-center mb-2">
      {{ isEditing ? 'Editar informações padrão' : 'Registrar Cliente'}}
    </h5>

    <p class="text-muted text-center mb-4">
      {{ isEditing? 'Edite as informações básicas/padrão do cliente' : 'Digite as informações primárias do cliente'}}
    </p>

    <form [formGroup]="clientForm" class="row g-3" novalidate>

      <div class="col-md-6">
        <label class="form-label">Nome</label>
        <input
          type="text"
          formControlName="nome"
          class="form-control"
          placeholder="Nome"
        />
      </div>

      <div class="col-md-6">
        <label class="form-label">CPF/CNPJ</label>
        <input
          type="text"
          formControlName="cpf_cnpj"
          class="form-control"
          placeholder="000.000.000-00 | 00.000.000/0000-00"
          mask="CPF_CNPJ"
        />
      </div>

      <div class="col-md-6">
        <label class="form-label">Origem</label>
        <input
          type="text"
          formControlName="origem"
          class="form-control"
          placeholder="Origem"
        />
      </div>

      <div class="col-md-6">
        <label class="form-label">Segmento</label>
        <input
          type="text"
          formControlName="segmento"
          class="form-control"
          placeholder="Segmento"
        />
      </div>

      @if (successMsg) {
        <div class="alert alert-success py-2 mt-2 mb-0">
          {{ successMsg }}
        </div>
      }

      @if (errorMsg) {
        <div class="alert alert-danger py-2 mt-2 mb-0">
          {{ errorMsg }}
        </div>
      }

      <div class="d-flex justify-content-end gap-2 mt-3">
        
        @if (isEditing) {
          <button type="button" class="btn btn-outline-secondary" (click)="toggleBloquearCampos()">
            {{ fieldsBlocked ? 'Desbloquear campos' : 'Bloquear campos' }}
          </button>
          <button type="button" class="btn btn-outline-danger" (click)="limpar()">
            Limpar campos
          </button>
          <button type="button" class="btn btn-primary" (click)="editar()">
            Editar
          </button>
        } @else {
          <button type="button" class="btn btn-outline-secondary" (click)="limpar()">
            Limpar campos
          </button>
          <button type="button" class="btn btn-primary" (click)="registrar()">
            Registrar
          </button>
        }
      </div>

    </form>
  </div>
</div>
