@if (tipo === 'email') {
  <app-registro-contato
    [userId]="id"
    [isEditing]="isEditing"
    [contatoToEdit]="contatoToEdit"
    [editType]="'email'"
    (statusContato)="onFormEnviado($event)" 
  ></app-registro-contato>
} @else if (tipo === 'endereco') {
  <app-registro-endereco
    [userId]="id"
    [isEditing]="isEditing"
    [enderecoToEdit]="contatoToEdit"
    (preenchido)="onFormEnviado($event)"
  ></app-registro-endereco>
} @else if (tipo === 'telefone') {
  <app-registro-contato
    [userId]="id"
    [isEditing]="isEditing"
    [contatoToEdit]="contatoToEdit"
    [editType]="'telefone'"
    (statusContato)="onFormEnviado($event)"
  ></app-registro-contato>
} @else if(tipo === 'cliente') {
  <app-registro-clientes
    [isEditing]="isEditing"
    [clienteToEdit]="contatoToEdit"
    (preenchido)="onFormEnviado($event)"
  ></app-registro-clientes>
}