<div class="card address-card shadow-sm mt-3">
  <div class="card-body">
    <h3 class="card-title text-center mb-2">Cadastro concluído</h3>

    <h5 class="text-muted text-center mb-2">
      Você concluiu o cadastro do seu cliente
    </h5>
    <div class="text-center mb-4">
    <p class="text-muted">
        Deseja gerenciar seus contatos? 
        <a routerLink="/clientes/listagem-clientes" class="link-primary text-decoration-none fw-bold">
            Ver listagem de clientes &rarr;
        </a>
    </p>
</div>
  </div>
</div>